div.blogs{
    margin: 0;
    float: left;
    width: 70%;
}
div.blog{
    margin: 0 auto;
    text-align: left;
    border: 1px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
    border-right: 4px solid #eaeaea;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 50px;
    width: 80%;
}
div.blog:hover{
    border: 1px solid #f16c20;
    border-bottom: 4px solid #f16c20;
    border-right: 4px solid #f16c20;
}
div.navigation{
    float: right;
    border-left: 2px solid #eaeaea;
    height: 500px;
    width: 30%;
}
p.pos{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}
div.comment {
    float: left;
    width: 70%;
    margin: 0;
    text-align: left;
}
p.note{
    margin:0;
    float: left;
    color: #888888;
    margin-right: 330px;
}
.textarea{
    resize: none;
    border: 3px solid #2a5d84;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    float: left;
    width: 85%;
}
.submit{
    margin-left: 3%;
    border-radius: 10px;
    height: 116px;
    width: 12%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    float: right;
}
.submit:hover{
    background: #008ec2;
}
div.comment-send{
    margin-bottom: 15%;
}
p.item-name{
    font-size: 16px;
    font-weight: bold;
    color: #2a5d84;
    margin: 8px;
    margin-top: 0;
}
div.list-item{
    padding: 20px;
    padding-bottom: 0;
    padding-top: 15px;
}
div.comment-list{
    border-radius: 10px;
    border: 1px solid #eeeeee;
    border-bottom: 4px solid #eaeaea;
    border-right: 4px solid #eaeaea;
    width: 100%;
}
p.item-text{
    font-size: 14px;
    margin-left: 5px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeeeee;
}
div.user{
    position: relative;
    left: 50px;
    top: 20px;
    z-index: 3;
    border-radius: 30px;
    border: 3px solid #2a5d84;
    padding: 5px;
    width: 65px;
    height: 40px;
    background-color: white;
}
.main{
    padding: 50px 100px;
    margin: 0 auto;
}
div.article{
    text-align: center;
    margin: 30px;
}
div.article p{
    font-size: 16px;
}
div.article hr{
    color: #eaeaea;
    width: 90%;
    height: 3px;
    border: none;
    border-top: 3px solid #eaeaea;
}
.red{
    color: red;
}
div.article h4{
    font-size: 22px;
}
div.article h5{
    font-size: 18px;
}
div.article h6{
    font-size: 16px;
}
div.classify{
    text-align: left;
    margin-left: 5%;
}
div.catalog{
    position: absolute;
    top: 70%;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    border-bottom: 4px solid #eaeaea;
    border-right: 4px solid #eaeaea;
    padding: 30px 30px;
    margin-left: 50px;
    width: 350px;
}
div.catalog h4{
    margin: 8px;
}
div.catalog li{
    margin: 10px;
}
p.blog-introduce{
    margin: 15px;
}
div.blog-image{
    border: 2px solid #eaeaea;
    height: 410px;
    width: 97%;
    overflow: hidden;
}
div.blog-image img{
    margin: 4px;
    max-width: 99%;
}
div.title{
    margin-left: 3%;
    margin-bottom: 50px;
}
div.blog h3{
    margin: 15px;
}